# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-workspace': [
    label: 'js2coffee'
    'command': 'js2coffee:convert'
  ]

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'js2coffee'
      'submenu': [
        { 'label': 'Convert', 'command': 'js2coffee:convert' }
        { 'label': 'Toggle Message Panel', 'command': 'js2coffee:messages' }
      ]
    ]
  }
]
